{% extends 'base.html' %}
{% load static%}
{% block content %}

        <form method="post">
            {% csrf_token %}
            <label for="theme">Select Theme:</label>
            <select name="theme" id="theme">
                <option value="default" {% if theme == 'default' %}selected{% endif %}>Default</option>
                <option value="dark" {% if theme == 'dark' %}selected{% endif %}>Dark</option>
                <option value="light" {% if theme == 'light' %}selected{% endif %}>Light</option>
            </select>
            <button type="submit">Save</button>
        </form>
        
{% endblock %}

