{% extends 'base.html' %}
{% load static%}
{% block content %}

        <div>
    <h1>Transactions</h1>
    <table>
        <tr>
            <th>Transaction ID</th>
            <th>Amount (INR)</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.transaction_id }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.status }}</td>
            <td>{{ transaction.timestamp }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

    {% endblock %}
